.Cards {
    padding: 1rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 150px;
    width: 70%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 0px 0 0px;
  }
  
  .cards__items {
    height: 100%;
    padding: 10px 30px 9px;
    transition: all 0.1875s ease;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .Cards__item__link {
    box-shadow: 0.3px 0.3px 7px 0px rgba(0,0,0,0.3);
    height: 100%;
    padding: 32px 30px 48px;
    background-color: #fff;
    -webkit-transition: all 0.1875s ease;
    transition: all 0.1875s ease;
  }
  .Cards__item__link:hover{
      background:#007780;
      transform: scale(1.1);
      color:white;
  }
  .Cards__item__link:hover p{
    
    color:white;
}
.Cards__item__link:hover h4{
    
    color:white;
}
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top:80%;
    overflow: hidden;
  }
  

  .cards__item__info {
    padding: 10px 30px 10px;
    margin:4px 0px;
  }
  
  .cards__item__text {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #333463;
    font-size: 26px;
    line-height: 30px;
    
  }
 
  .content{
    color: #222222;
    font-size: 16px;
    line-height: 22px;
    text-align:center;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }